@model PagiNationList<Product>

<div class="product-wrapper">
    @foreach (Product item in Model)
    {
        <div class="item-wrapper">
            <figure class="product-gallery">
                <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ID">
                    <img src="~/assets/images/products/@item.MainImage" alt="Product">
                    <img src="~/assets/images/products/@item.HoverImage" alt="Product">
                </a>
                <div class="product-menu">
                    <a asp-controller="cart" asp-action="addtocart" asp-route-id="@item.ID" class="btn-label btn-cart addToCart" title="Add to cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </a>
                    <a asp-controller="wishlist" asp-action="addtowishlist" asp-route-id="@item.ID" class="btn-label btn-wishlist addToCart" title="Add to wishlist">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </div>
                @{
                    var timeCheck = DateTime.Today.AddMonths(-1);
                }
                @if (item.CreatedAt >= timeCheck)
                {
                    <div class="product-label-main">
                        <label class="product-label label-new">New</label>
                    </div>
                }
            </figure>
            <div class="product-details">
                <h4 class="product-title">
                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ID">@item.Name</a>
                </h4>
                <div class="ratings-wrapper">
                    <div class="ratings-main">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="#" class="rating">(@item.Feedbacks.Count Reviews)</a>
                </div>
                <div class="product-price">
                    @if (item.ProductColors.Any(x => x.DiscountedPrice == null))
                    {
                        <ins class="new-price">$@(item.ProductColors.Min(x => x.Price.ToString("0.00"))) -</ins>
                        <span class="del-price">$@item.ProductColors.Max(x => x.Price).ToString("0.00")</span>
                    }
                    else
                    {
                        <ins class="new-price">$@(item.ProductColors.Select(x => x.Price.ToString("0.00")).FirstOrDefault())</ins>
                        <del class="old-price">@(item.ProductColors.Select(x => x.DiscountedPrice?.ToString("$0.00")).FirstOrDefault())</del>
                    }
                </div>

            </div>
        </div>
    }
</div>
<div class="pagination-main">
    <p class="pagination-info">
        Showing<span>@Model.Start-@Model.TotalItems of @Model.Count</span>Products
    </p>
    <ul class="pagination">
        @if (Model.HasPrev)
        {
            <li class="prev">
                <a asp-controller="shop" asp-action="index" asp-route-page="@(Model.PageIndex-1)">
                    <i class="fa-solid fa-arrow-left-long mr-3"></i>
                    Prev
                </a>
            </li>
        }

        @for (int i = Model.Start; i <= Model.End; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" :"")">
                <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@i" data-page="@i">@i</a>
            </li>
        }
        @if (Model.HasNext)
        {
            <li class="next">
                <a asp-controller="shop" asp-action="index" asp-route-page="@(Model.PageIndex+1)">
                    Next
                    <i class="fa-solid fa-arrow-right-long ml-3"></i>
                </a>
            </li>
        }
    </ul>
</div>